# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
terraform/.env

# App secrets
config/apps/*/.env
config/apps/*/.env.secrets
!config/apps/*/.env.example

# OS
.DS_Store

# Pentest
pentest/targets/*.yaml
pentest/reports/
pentest/tools/nikto/
pentest/tools/testssl/
pentest/tools/nuclei-templates/
pentest/*.log

# Claude Code
.claude/settings.local.json
