region                = "eu-west-2"
domain                = "example.com"
cloudflare_zone_id    = "your-zone-id"
cloudflare_account_id = "your-account-id"
admin_email           = "you@example.com"
app_subdomains        = [
  "cookie",
]
